[submodule "web/web_lab3"]
	path = web/web_lab3
	url = https://github.com/poma12390/JSF_lab
[submodule "web/web_lab4"]
	path = web/web_lab4
	url = https://github.com/poma12390/Spring_React-lab
[submodule "VSS/lab1"]
	path = VSS/lab1
	url = https://github.com/poma12390/C-pe-file-reader
[submodule "low_level_prog/assembly-io-library"]
	path = low_level_prog/assembly-io-library
	url = https://github.com/poma12390/assembly-io-library
[submodule "low_level_prog/assembly-dictionary"]
	path = low_level_prog/assembly-dictionary
	url = https://github.com/poma12390/assembly-dictionary
[submodule "low_level_prog/C-image-rotation"]
	path = low_level_prog/C-image-rotation
	url = https://github.com/poma12390/C-image-rotation
[submodule "low_level_prog/C-memory-allocator"]
	path = low_level_prog/C-memory-allocator
	url = https://github.com/poma12390/C-memory-allocator
[submodule "VSS/Timer_STM32"]
	path = VSS/Timer_STM32
	url = https://github.com/poma12390/Timer_STM32
