[submodule "low_lowel_prog/assembly-io-library"]
	path = low_lowel_prog/assembly-io-library
	url = https://github.com/poma12390/assembly-io-library
[submodule "low_lowel_prog/assembly-dictionary"]
	path = low_lowel_prog/assembly-dictionary
	url = https://github.com/poma12390/assembly-dictionary
[submodule "low_lowel_prog/C-image-rotation"]
	path = low_lowel_prog/C-image-rotation
	url = https://github.com/poma12390/C-image-rotation
[submodule "low_lowel_prog/C-memory-allocator"]
	path = low_lowel_prog/C-memory-allocator
	url = https://github.com/poma12390/C-memory-allocator
[submodule "low_lowel_prog/C-pe-file-reader"]
	path = low_lowel_prog/C-pe-file-reader
	url = https://github.com/poma12390/C-pe-file-reader
